<template name="footer">
	<footer class="footer">
	    <p class="pull-right"><a href="{{homePath}}" class="f">Gallery</a></p>
	    <p class="pull-right"><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ZachSitler&amp;repo=comet&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
	    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ZachSitler&amp;repo=comet&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
	    <p>Real-time image sharing tool written by
	    <a href="http://github.com/ZachSitler" target="_blank" class="f">Zach Sitler</a>.<br/>
	</footer>
</template>