<template name="header">
  <div class="navbar navbar-fixed-top" style="z-index: 10;">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{homePath}}">Comet</a>

            <div class="nav-collapse collapse">

                <ul class="nav">
                    <li class="add-menu"><a href="/upload"><i class="icon-circle-arrow-up icon-white"></i> upload</a></li>
                </ul>

                <ul class="nav pull-right">
                  <ul class="nav">
                  {{#if currentUser}}
                    <div id="account" class="dropdown">
                      <a id="account-a" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            account <b class="caret"></b>
                          </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li><a href="/images">images</a></li>
                        <li><a href="/favorites">favorites</a></li>  
                      </ul>
                    </div>
                  </ul>
                  {{/if}}                    
                      <ul class="nav pull-right">
                        <li>{{loginButtons}}</li>
                      </ul>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
</template>