<template name="bestImages">
	{{> gallery options}}
</template>

<template name="newImages">
	{{> gallery options}}
</template>

<template name="gallery">
	<ul class="tabs">
		<li class="{{activeRouteClass 'home' 'bestImages'}}"><a href="{{bestImagesPath}}">Best</a></li>
		<li class="{{activeRouteClass 'newImages' 'newImages'}}"><a href="{{newImagesPath}}">New</a></li>
	</ul>
	<ul class="thumbnails">
	{{#each imagesWithRank}}
		{{> galleryImage}}
	{{/each}}
	</ul>
	{{#if imagesReady}}
      {{#unless allImagesLoaded}}
        <a class="load-more" href="#">Load more</a>
      {{/unless}}
    {{else}}
      <div>{{> spinner}}</div>
    {{/if}}
</template>