<template name="galleryPage">
	<div id="main">
		{{#with currentImage}}
			<div class="image-page">
				<div class="header-textbox">
					<h2 class="image-title-{{titleAdjusted title}}">
						{{#if title}}
							{{title}}
						{{else}}
							No title :(
						{{/if}}
					</h2>
				</div>
				<div class="image-panel">
					<div class="image">
						<div class="image-grid">
							<img src="{{url}}" alt="{{name}}" class="img-rounded" width="440">
						</div>
						{{#if currentUser}}
					      {{> commentSubmit}}
					    {{/if}}
					</div>
					
					<div class="under-image">
						<ul class="comments">
							<h4>{{pluralize commentsCount "Comment"}}</h4>
							<div class="comment-header"></div>
					      {{#each commentsWithRank}}
					        {{> comment}}
					      {{/each}}
					    </ul>
					    <a class="load-more" href="#">Load more</a>
					</div>
				</div>
			</div>
			<div class="right-panel">
					<div class="stats">
						<a href="/" class="btn btn-primary">browse gallery</a>
				 		<button class="btn btn-primary random">random</button>
						<h4><a href="#" class="upvote btn {{favoriteClass}}"><icon class="icon-heart icon-white"></i></a>Favorites - <small>{{favorites}}</small></h4>
						<h4>{{#if currentUser}}
		<a href="#" class="upvote btn {{upvoteClass}}"><icon class="icon-chevron-up icon-white"></i></a>
		<a href="#" class="downvote btn {{downvoteClass}}"><icon class="icon-chevron-down icon-white"></i></a>
		{{/if}}Votes - <small>{{votes}}</small></h4>
						<h4>Views - <small>{{views}}</small></h4>
						<h4>Submitted - <small>{{submittedText}}</small></h4>
						<h4>Author - <small>{{author}}</small></h4>
					</div>
					<div class="mini-gallery">
						{{> gallerySidebar}}
					</div>
				</div>
		{{/with}}
	</div>
</template>

