<template name="galleryPage">
	{{#with currentImage}}
	<div id="content" class="outside">
		<div class="panel-left-short">
			<div id="imageList">
				<div class="header-textbox">
					<h2 class="image-title">{{title}}</h2>
				</div>
				<div class="image-list-panels">
					<div class="gallery-upload">
					</div>
					<div class="panel">

					</div>
				</div>
				<div class="image-zoom">
					<img src="{{url}}" alt="{{name}}" width="400">
				</div>
				<div class="under-image">
					{{#if currentUser}}
				      {{> commentSubmit}}
				    {{else}}
				      <p>Please log in to leave a comment.</p>
				    {{/if}}
					<ul class="comments">
				      {{#each comments}}
				        {{> comment}}
				      {{/each}}
				    </ul>
				</div>
			</div>
		</div>
	</div>
	{{/with}}
</template>

