<template name="galleryEdit">
	{{#with image}}
		{{#if ownsImage}}
		<form class="main">
			<div class="control-group">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<textarea name="title" maxlength="140">{{title}}</textarea>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="description">Description</label>
				<div class="controls">
					<textarea name="description" maxlength="140">{{description}}</textarea>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<input type="submit" value="Submit" class="btn btn-primary" placeholder="{{description}}">
				</div>
			</div>
		</form>
		{{> galleryPage}}
		{{else}}
			{{error}}
		{{/if}}

	{{/with}}
</template>